@import '../../styles/breakpoints';

.Toggle {
	display: none;

	// @note: this has to match GRID_WIDTH_TOGGLE in PoolTable.tsx
	@include container-breakpoint(600) {
		display: flex;
	}
}

.PoolView {
	display: flex;
	flex-direction: column;
	gap: 1.625rem;
	position: relative;

	.Grid {
		grid-template-columns: 1fr;
	}
}
