@import '../../styles/breakpoints';

.PoolTable {
	margin-top: 1rem;

	.PoolView {
		display: flex;
		flex-direction: column;
		gap: 1.625rem;
		position: relative;

		.Grid {
			grid-template-columns: 1fr;
		}
	}
}
