@import '../../styles/breakpoints';

.DepositsTable {
	margin-top: 1rem;

	.DepositsView {
		display: flex;
		flex-direction: column;
		gap: 1.625rem;
		position: relative;

		.Grid {
			grid-template-columns: 1fr;
		}
	}

	.Empty {
		padding: 1rem;
		text-align: center;

		a {
			color: var(--color-secondary-11);
		}
	}
}
