@import '../styles/breakpoints';

.Stats {
	display: flex;
	flex-direction: column;
	padding: 0;
	gap: 1rem;
	list-style: none;

	@include container-breakpoint(500) {
		flex-direction: row;

		> * {
			flex: 1;
		}
	}
}
