@import '../../../node_modules/@zero-tech/zui/styles/_colors.scss';

.Container {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	width: 100%;

	.Balance {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #{$grey-lighter-2};
		font-size: 0.75rem;

		b {
			font-size: 1.125rem;
			color: #{$text-primary};
		}
	}
}
