.Container {
	display: flex;
	flex-direction: column;
	gap: 24px;

	width: 100%;

	.Balances {
		list-style: none;
		padding: 0;

		.Balance {
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: grey;
			font-size: 0.75rem;

			b {
				font-size: 1.125rem;
				color: grey;
			}
		}
	}

	.Message {
		width: 100%;
		padding: 1rem;
		border-radius: 0.5rem;
		box-sizing: border-box;

		background: rgba(0, 255, 0, 0.2);
	}

	.Error {
		background: rgba(255, 0, 0, 0.2);
	}
}
