//@use 'styles/variables/colors';

.Container {
	display: flex;
	flex-direction: column;
	gap: 24px;

	width: 100%;

	.Balance {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: grey;
		font-size: 0.75rem;

		b {
			font-size: 1.125rem;
			color: grey;
		}
	}

	.Message {
		width: 100%;
		padding: 1rem;
		border-radius: 0.5rem;
		box-sizing: border-box;
	}

	.Success {
		background: #232323;
	}

	.Error {
		background: rgba(255, 0, 0, 0.2);
	}
}
