.DummyContext {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0;

	list-style: none;

	li {
		position: relative;
		padding: 0.625rem 1.25rem; // 10px 20px

		&:first-child {
			background: var(--actionable-active-background);
			font-weight: bold;

			&::after {
				position: absolute;
				content: ' ';
				width: 0.25rem;
				left: 0;
				top: 0;
				bottom: 0;
				background-color: var(--accent-color);
			}
		}
	}
}

.Container {
	height: 100%;
	width: 100%;

	.Main {
		margin: 100px auto 0 auto;
		max-width: 46rem; // 46 rem = 736px
		overflow: scroll;

		> *:first-child {
			margin-bottom: 1rem;
		}
	}
}
