@import './styles/breakpoints';

.Main {
	$gap: 1rem;

	margin: 100px auto 0 auto;
	max-width: 46rem; // 46 rem = 736px
	padding: 0 1rem 3.5rem;

	display: flex;
	flex-direction: column;
	gap: $gap;

	[class*='Tabs'] {
		font-size: 1.125rem;
		line-height: 1.361rem;
	}

	@include container-breakpoint(500) {
		[class*='Tabs'] {
			font-size: 1.5rem;
			line-height: 1.1816rem;
		}
	}

	.Banner {
		margin: 0 auto (1.5rem - $gap) auto;
		padding: 1rem;
		width: 100%;
		text-align: center;
		border-radius: 0.5rem;
		box-sizing: border-box;
		color: inherit;
		text-decoration: none;

		position: relative;

		> b {
			text-decoration: underline;
		}

		background-image: url('https://res.cloudinary.com/fact0ry/image/upload/v1694636181/zapp/staking-banner.png'),
			linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
		background-blend-mode: overlay;
		background-repeat: no-repeat;
		background-position: center;
	}
}
