.DummyContext {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 1rem;

	list-style: none;
}

.Main {
	margin: 100px auto 0 auto;
	max-width: 46rem; // 46 rem = 736px

	> *:first-child {
		margin-bottom: 1rem;
	}
}
