@import '../../../styles/breakpoints';
@import '../../../../node_modules/@zero-tech/zui/styles/_theme.scss';

.Cards {
	display: flex;
	align-items: flex-start;
	gap: 1rem;

	> * {
		flex: 1;
		width: 0;
		background: $color-primary-3;
	}
}
